html
{
  background-color: #232527;
}

h1
{
  font-family: 'Courier New', Courier, monospace;
  color:azure;
  margin: 0 auto;
  text-align: center;
}

h3
{
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  margin: 0 auto;
  text-align: center;
}

form 
{
  font-family: 'Courier New', Courier, monospace;
    background-color:aliceblue;
    margin: 0 auto;
    width: 450px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul 
  {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li 
  {
    margin-top: 1em;
  }

  legend
  {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  label 
  {
    font-family:'Courier New', Courier, monospace;
    display:inline-block;
    width: 140px;
    text-align: top;
  }
  
  input,
  textarea 
  {
    font: 1em sans-serif;
    width: 157px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus 
  {
    border-color: #000;
  }
  
  textarea 
  {
    vertical-align: top;
    height: 5em;
  }
  
  .button
  {
    text-align: center;
  }

  button
  {
    margin-left: 0.5em;
  }